{% extends "mi13VitrineBundle:Default:layout.html.twig" %}

{% block content %}

<h1>Articles</h1>
<h3>Catégorie {{ categorie.name | lower }}</h3>

{#
<ul class="collection" id="article">
    {% for article in articles %}
        <li class="collection-item">
            {{ article.label }} - {{ article.price }}
            - <a href="{{ path('mi13_vitrine_ajoutArticle', {'id_article': article.id, 'quantite': 1}) }}">Ajouter au panier</a>
        </li>
    {% endfor %}
</ul>
#}

{% if articles|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Stock</th>
                <th>Prix</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.label }}</td>
                <td>{{ article.stock }}</td>
                <td>{{ article.price }}</td>
                <td>
                    {% if article.stock > 0 %}
                        <a href="{{ path('mi13_vitrine_ajoutArticle', {'id_article': article.id, 'quantite': 1}) }}">Ajouter au panier</a>
                    {% else %}
                        <span>Rupture de stock</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>Aucun article trouvé.</div>
{% endif %}

{% endblock %}
