{% extends "mi13VitrineBundle:Default:layout.html.twig" %}

{% block content %}
    <h1>{% trans %}mi13.vitrine.backoffice.title{% endtrans %}</h1>

    <div id="backoffices" class="collection">
        <a href="{{ path('article_index') }}" class="collection-item">
            {% trans %}mi13.vitrine.backoffice.articles{% endtrans %}
        </a>
        <a href="{{ path('categorie_index') }}" class="collection-item">
            {% trans %}mi13.vitrine.backoffice.categories{% endtrans %}
        </a>
        <a href="{{ path('client_index') }}" class="collection-item">
            {% trans %}mi13.vitrine.backoffice.clients{% endtrans %}
        </a>
        <a href="{{ path('commande_index') }}" class="collection-item">
            {% trans %}mi13.vitrine.backoffice.commandes{% endtrans %}
        </a>
    </div>

{% endblock %}
