{% extends "mi13VitrineBundle:Default:layout.html.twig" %}

{% block content %}

    <h1>{% trans %}mi13.vitrine.catalog{% endtrans %}</h1>
    <div id="categories" class="collection">
        {% for categorie in categories %}
            <a href="{{ path('mi13_vitrine_articlesParCategorie', {'id_categorie': categorie.id}) }}" class="collection-item">{{ categorie.name }}</a>
        {% endfor %}
    </div>

{% endblock %}
