<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">La Vitrine</h5>
                <p class="grey-text text-lighten-4">
                    {% trans %}mi13.vitrine.footer.description{% endtrans %}
                </p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Informations</h5>
                <ul>
                    <li><a class="brown-text" href="#!">Lien 1</a></li>
                    <li><a class="brown-text" href="#!">Lien 2</a></li>
                    <li><a class="brown-text" href="#!">Lien 3</a></li>
                    <li><a class="brown-text" href="#!">Lien 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Support</h5>
                <ul>
                    <li><a class="brown-text" href="#!">{% trans %}mi13.vitrine.footer.contactUs{% endtrans %}</a></li>
                    <li><a class="brown-text" href="#!">{% trans %}mi13.vitrine.footer.guarantee{% endtrans %}</a></li>
                    <li><a class="brown-text" href="#!">{% trans %}mi13.vitrine.footer.opinion{% endtrans %}</a></li>
                    <li><a class="brown-text" href="#!">{% trans %}mi13.vitrine.footer.sav{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            {#Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>#}
        </div>
    </div>
</footer>
      