{% extends "mi13VitrineBundle:Default:layout.html.twig" %}

{% block content %}

    <h1>{{ 'mi13.vitrine.index.welcome'|trans({'%name%': name}) }}</h1>
    
    <h3>{% trans %}mi13.vitrine.index.bestsellers{% endtrans %}</h3>
    
    {% if articles|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.label }}</td>
                <td>{{ article.price }}</td>
                <td>
                    {% if article.stock > 0 %}
                        <a href="{{ path('mi13_vitrine_ajoutArticle', {'id_article': article.id, 'quantite': 1}) }}">Ajouter au panier</a>
                    {% else %}
                        <span>Rupture de stock</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>Aucun article trouvé.</div>
{% endif %}

{% endblock %}
