<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>La Vitrine</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('bundles/mi13vitrine/css/materialize.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('bundles/mi13vitrine/css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>

        {% include "mi13VitrineBundle:Default:navbar.html.twig" %}

        <div class="row">
            {% if app.session.get('panier') != null and app.session.get('panier').getContenu() != null %}
                <div class="col s9">
                {% else %}
                    <div class="col s12">
                    {% endif %}
                    {% block content %}
                        <p>left content</p>
                    {% endblock %}
                </div>
                {% if app.session.get('panier') != null and app.session.get('panier').getContenu() != null %}
                    <div class="col s3">
                        {{ render(controller('mi13VitrineBundle:Panier:panierBlock')) }}
                    </div>
                {% endif %}
            </div>

            {% include "mi13VitrineBundle:Default:footer.html.twig" %}

            <!--JS Scripts-->
            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="{{ asset('bundles/mi13vitrine/js/materialize.min.js') }}"></script>
            <script src="{{ asset('bundles/mi13vitrine/js/init.js') }}"></script>

    </body>
</html>
