{% extends "mi13VitrineBundle:Default:layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1>{% trans %}mi13.vitrine.mentions.title{% endtrans %}</h1>
        <div>{{ 'mi13.vitrine.mentions.mentions'|trans|nl2br }}</div>
    </div>

{% endblock %}