<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">La Vitrine</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ path('mi13_vitrine_accueil') }}">{% trans %}mi13.vitrine.navbar.home{% endtrans %}</a></li>
        <li><a href="{{ path('mi13_vitrine_catalogue') }}">{% trans %}mi13.vitrine.catalog{% endtrans %}</a></li>
        <li><a href="{{ path('mi13_vitrine_mentions') }}">{% trans %}mi13.vitrine.mentions.title{% endtrans %}</a></li>
        {% if app.user %}
        <li><a class="dropdown-trigger" href="#" data-target="userDropdown">
                <span class="material-icons">person</span>
                <span>{{ app.user.username }}</span>
        </a></li>
        {% else %}
        <li><a class="dropdown-trigger" href="#" data-target="guestDropdown">
                {% trans %}mi13.vitrine.navbar.myAccount{% endtrans %}
        </a></li>
        {% endif %}
        <li><a class="dropdown-trigger" href="#" data-target="langDropdown">
                <span class="material-icons">language</span>
        </a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{{ path('mi13_vitrine_accueil') }}">{% trans %}mi13.vitrine.navbar.home{% endtrans %}</a></li>
        <li><a href="{{ path('mi13_vitrine_catalogue') }}">{% trans %}mi13.vitrine.catalog{% endtrans %}</a></li>
        <li><a href="{{ path('mi13_vitrine_mentions') }}">{% trans %}mi13.vitrine.mentions.title{% endtrans %}</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    
      {% if app.user %}
      <ul id="userDropdown" class="dropdown-content">
          <li><a href="{{ path('mi13_vitrine_contenuPanier') }}">{% trans %}mi13.vitrine.navbar.myCart{% endtrans %}</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('mi13_backoffice') }}">{% trans %}mi13.vitrine.backoffice.title{% endtrans %}</a></li>
          {% endif %}
          <li><a href="{{ path('logout') }}">{% trans %}mi13.vitrine.signOut{% endtrans %}</a></li>
      </ul>
      {% else %}
      <ul id="guestDropdown" class="dropdown-content">
          <li><a href="{{ path('login') }}">{% trans %}mi13.vitrine.signIn{% endtrans %}</a></li>
          <li><a href="{{ path('mi13_vitrine_creer_compte') }}">{% trans %}mi13.vitrine.signUp{% endtrans %}</a></li>
      </ul>
      {% endif %}
      <ul id="langDropdown" class="dropdown-content">
          <li><a href="{{ path('mi13_vitrine_accueil', {'_locale': 'fr'}) }}">
                  <img src="{{ asset('bundles/mi13vitrine/img/fr.png') }}" alt="fr" />
          </a></li>
          <li><a href="{{ path('mi13_vitrine_accueil', {'_locale': 'en'}) }}">
                  <img src="{{ asset('bundles/mi13vitrine/img/us.png') }}" alt="en" />
          </a></li>
    </div>
</nav>
    
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    M.Dropdown.init(elems, {hover: true, coverTrigger: false, constrainWidth: false});
  });
</script>

<style>
    a.dropdown-trigger span {
        vertical-align: middle;
    }
    
    #langDropdown li {
        text-align: center;
    }
</style>