{% extends "mi13VitrineBundle:Default:layout.html.twig" %}

{% block content %}
    <h1>{% trans %}mi13.vitrine.signup.title{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn waves-effect waves-light" type="submit" value="Create">
        {% trans %}mi13.vitrine.validate{% endtrans %} <i class="material-icons right">send</i>
    </button>
    {{ form_end(form) }}

{% endblock %}
