{% extends "mi13VitrineBundle:Default:layout.html.twig" %}

{% block content %}

{% if error %}
    <div>{{ error.messageKey |trans(error.messageData, 'security') }}</div>
{% endif %}

<h1>Se connecter</h1>

<form action=""{{ path('login') }}" method="post">
    <label for="username">Login :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required />
    
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" required />
    
    <input type="hidden" name="_target_path" value="{{ path('mi13_vitrine_contenuPanier') }}" />

    <button class="btn waves-effect waves-light" type="submit">
        Se connecter <i class="material-icons right">send</i>
    </button>
</form>

{% endblock %}
