{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifications client</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn" style="margin-bottom: .3em;" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}
    <a class="waves-effect waves-light btn" href="{{ path('client_index') }}">Retour</a>
    {{ form_start(delete_form) }}
        <input class="btn" style="margin-top: .3em;" type="submit" value="Supprimer" />
    {{ form_end(delete_form) }}
        </li>
    </ul>
    
    <style>
        select {
            display: block;
        }
    </style>
{% endblock %}
