{% extends "mi13VitrineBundle:Default:layout.html.twig" %}

{% block content %}
    <h1>Nouveau client</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn waves-effect waves-light" type="submit" value="Create">
        Créer <i class="material-icons right">send</i>
    </button>
    {{ form_end(form) }}
    
    
    <style>
        select {
            display: block;
        }
    </style>

{% endblock %}
