{% extends 'base.html.twig' %}

{% block body %}
    <h1>Informations client</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ client.password }}</td>
            </tr>
        </tbody>
    </table>

    <a class="waves-effect waves-light btn" href="{{ path('client_index') }}">Retour</a>
    <a class="waves-effect waves-light btn" href="{{ path('client_edit', { 'id': client.id }) }}">Modifier</a>
    {{ form_start(delete_form) }}
        <input class="btn" style="margin-top: .3em;" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
    
{% endblock %}
