{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorie creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('categorie_index') }}">Back to the list</a>
        </li>
    </ul>
            
    <style>
        select {
            display: block;
        }
    </style>
{% endblock %}
