{% extends "mi13VitrineBundle:Default:layout.html.twig" %}

{% block content %}

<h1>Panier</h1>

<div>
    panier:
    <p>total: {{ total }}</p>
    <ul class="collection" id="panier">
    {% for article in articles %}
        <li class="collection-item">
            {{ article.getLabel() }} x{{ panier.getContenu()[article.getId()] }}
        </li>
    {% endfor %}
    </ul>
    <a class="waves-effect waves-light btn" href="{{ path('mi13_vitrine_viderPanier') }}">Vider le panier</a>
</div>

{% endblock %}