<h3>Mon panier</h3>

<div>
    <ul class="collection" id="panier">
        {% for article in articles %}
            <li class="collection-item">
                {{ article.getLabel() }} x{{ panier.getContenu()[article.getId()] }}
            </li>
        {% endfor %}
    </ul>
    <p>total: {{ total }}</p>
    <a class="waves-effect waves-light btn" style="margin-bottom: .3rem" href="{{ path('mi13_vitrine_contenuPanier') }}">Consulter mon panier</a>
    <a class="waves-effect waves-light btn" href="{{ path('mi13_vitrine_validationPanier') }}">Valider mon panier</a>
</div>