{% extends "mi13VitrineBundle:Default:layout.html.twig" %}

{% block content %}

    <h1>ValidationPanier</h1>
    <p>La commande a bien été créée !</p>
    <p>Numéro de la commande : #{{ commande.id }}</p>

{% endblock %}